<h4>
    <span class="badge badge-bg-royalblue">{{ doc_dict["bucket"]["name"] }}</span>
</h4>
<hr/>
<div class="row">
    {% include "partials/info_bucket_info.html" %}
    {% include "partials/info_author_info.html" %}
    {% include "partials/info_organization.html" %}
</div>
<div class="row">
    {% include "partials/info_db_info.html" %}
    {% include "partials/info_db_metadata.html" %}
</div>
<div class="row">
    {% include "partials/info_files_to_download.html" %}
</div>