<div class="col-4">
    <div class="mb-2">
        <span class="badge bg-success">
            About Author
        </span>
    </div>
    <div class="form-floating mb-3">
        <input
                id="prefix"
                type="text"
                class="form-control"
                name="author.prefix"
                value="{{ doc_dict["author"]["prefix"] if doc_dict["author"]["prefix"] else ""}}"
                title="only the characters: {{ allowed_text[2:-3] }}"
                required
                pattern="{{ allowed_text }}"
        />
        <label for="prefix">Prefix:</label>
    </div>
    <div class="form-floating mb-3">
        <span
                id="author_name"
                class="form-control-plaintext">
                {{ doc_dict["author"]["name"] }}
        </span>
        <label for="author_name">Name</label>
    </div>

    <div class="form-floating mb-3">
        <input
                id="author_role"
                type="text"
                name="author.role"
                class="form-control"
                value="{{ doc_dict["author"]["role"] if doc_dict["author"]["role"] else ""}}"
                required
                title="only the characters: {{ allowed_text[2:-3] }}"
                pattern="{{ allowed_text }}"
        />
        <label for="author_role">
            Role:
        </label>
    </div>
</div>


