<div class="col-4">
    <div class="mb-2">
        <span class="badge bg-success">
            Organization
        </span>
    </div>
    <div class="form-floating mb-3">
        <input
                id="org_name"
                type="text"
                name="org.name"
                value="{{ doc_dict["org"]["name"] if doc_dict["org"]["name"] else ""}}"
                title="Organization name, allowed characters: {{ allowed_text[2:-3] }}"
                pattern="{{ allowed_text }}"
                required
                class="form-control"
        >
        <label for="org_name">Name</label>
    </div>
    <div class="form-floating mb-3">
        <input
                id="faculty"
                type="text"
                name="org.faculty"
                value="{{ doc_dict["org"]["faculty"] if doc_dict["org"]["faculty"] else ""}}"
                title="Name of the faculty, allowed characters: {{ allowed_text[2:-3] }}"
                pattern="{{ allowed_text }}"
                required
                class="form-control"
        />
        <label for="faculty">Faculty</label>
    </div>

    <div class="form-floating mb-3">
        <input
                id="unit_lab"
                type="text"
                name="org.unit_lab"
                value="{{ doc_dict["org"]["unit_lab"] if doc_dict["org"]["unit_lab"] else ""}}"
                title="Name of the unit or lab, allowed characters: {{ allowed_text[2:-3] }}"
                pattern="{{ allowed_text }}"
                class="form-control"
        />
        <label for="unit_lab">Unit/Lab</label>
    </div>
</div>