<div class="col-lg-12">
    <div class="mb-2">
        <span class="badge bg-success">
            Database Information
        </span>
    </div>

    <div class="form-floating mb-3">
        <input
                type="text"
                id="db_name"
                name="db.name"
                pattern="{{ allowed_text }}"
                title="allowed characters {{ allowed_text[2:-3] }}"
                value="{{ doc_dict["db"]["name"] if doc_dict["db"]["name"] else ""}}"
                required
                class="form-control"
        />
        <label for="db_name">Name</label>
    </div>
    <div class="form-floating mb-3">
        <textarea
                class="form-control"
                name="db.description"
                id="description"
                title="Short explanation about the database content, allowed characters {{ allowed_text[2:-3] }}"
        >{{ doc_dict["db"]["description"] if doc_dict["db"]["description"] else ""}}</textarea>
        <label for="description">Description</label>
    </div>
</div>