<div class="col-4">
    <div class="mb-2">
        <span class="badge bg-success">
        Bucket Info
        </span>
    </div>
    <div class="form-floating mb-3">
        <span class="form-control-plaintext" id="bucket_name">
            {{ doc_dict["bucket"]["name"] }}
        </span>
        <label for="bucket_name">Bucket Name</label>
    </div>
    <div class="form-floating mb-3">
        <span
                id="bucket_url"
                class="form-control-plaintext">
            <a
                href="https://console.cloud.google.com/storage/browser/{{ doc_dict["bucket"]["name"] }}"
                target="_blank"
            >
                Go To Bucket Console
            </a>
        </span>
        <label for="bucket_url">Bucket direct URL</label>
    </div>
    <div class="form-floating mb-3">
        <span
                id="access_exp"
                class="form-control-plaintext"
        >{{ exp_timestamp }}</span>
        <label for="access_exp">Access to bucket expires date and time</label>
    </div>
    <div class="form-floating mb-3">
        <span
                id="last_update"
                class="form-control-plaintext"
        >{{ date_last_update }}</span>
        <label for="last_update">Date metadata last update</label>
    </div>
</div>