<div class="row g-3">
    <div class="col-12">
        <div class="mb-2">
            <span class="badge bg-secondary">
                Explained Data Variables from file
            </span>
            <a href="/documentation" target="_blank">
                <span class="bi bi-question-circle"></span>
            </a>
        </div>
        <div>
            <ul>
            {%- for key, value in doc_dict["db"]["metadata"].items() recursive %}
                {%- if value is mapping -%}
                    <il>{{ key }}:</il>
                    <ul>
                        {{ loop(value.items()) }}
                    </ul>
                {% else %}
                    <li>{{ key }}: {{ value }}</li>
                {%- endif  %}
            {%- endfor %}
            </ul>
        </div>
        <div class="form-floating mb-3">
           <input
                   id="from_file"
                   type="file"
                   class="form-control"
                   accept="application/json,text/csv"
                   title="File types allowed: *.csv, *.json not larger than 10MB"
                   name="from_file"
            />
            <label for="from_file">Explained Data Variables from file</label>
        </div>

    </div>
</div>
<script>
    let from_file = document.getElementById("from_file")
    from_file.onchange = function () {
        if (this.files[0].size > 10485760) {
            alert("the file is larger than 10MB");
            this.value = "";
        }
    }
</script>