    <header id="header" class="header-bar ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-3">
                    <img class="title-img" src="https://lib.haifa.ac.il/images/logo_eng.png">
                </div>
                <div class="col-sm-9 ">
                    <h3>Data Archive, University of Haifa Library</h3>
                </div>
            </div>
        </div>
    </header>