<div class="col-3">
    <div class="mb-2">
        <span class="badge bg-success">
            Organization
        </span>
    </div>
    <div class="form-floating">
        <input
                disabled
                id="org_name"
                type="text"
                name="org.name"
                value="{{ doc_dict["org"]["name"] if doc_dict["org"]["name"] else ""}}"
                class="form-control-plaintext"
        >
        <label for="org_name">Name</label>
    </div>
    <div class="form-floating">
        <input
                disabled
                id="faculty"
                type="text"
                name="org.faculty"
                value="{{ doc_dict["org"]["faculty"] if doc_dict["org"]["faculty"] else ""}}"
                class="form-control-plaintext"
        />
        <label for="faculty">Faculty</label>
    </div>

    <div class="form-floating">
        <input
                disabled
                id="unit_lab"
                type="text"
                name="org.unit_lab"
                value="{{ doc_dict["org"]["unit_lab"] if doc_dict["org"]["unit_lab"] else ""}}"
                class="form-control-plaintext"
        />
        <label for="unit_lab">Unit/Lab</label>
    </div>
</div>