<div class="col-6">
    <div class="mb-2">
        <span class="badge bg-secondary">
            Explained Data Variables from file
        </span>
    </div>
    <div>
        <ul>
        {%- for key, value in doc_dict["db"]["metadata"].items() recursive %}
            {%- if value is mapping -%}
                <il>{{ key }}:</il>
                <ul>
                    {{ loop(value.items()) }}
                </ul>
            {% else %}
                <li>{{ key }}: {{ value }}</li>
            {%- endif  %}
        {%- endfor %}
        </ul>
    </div>
</div>