<div class="col-3">
    <div class="mb-2">
        <span class="badge bg-success">
            About Author
        </span>
    </div>
    <div class="form-floating">
        <span
                id="author_name"
                class="form-control-plaintext">
                {{ doc_dict["author"]["prefix"] }} {{ doc_dict["author"]["name"] }}
        </span>
        <label for="author_name">Name</label>
    </div>
    <div class="form-floating">
        <input
                id="author_role"
                type="text"
                name="author.role"
                class="form-control-plaintext"
                value="{{ doc_dict["author"]["role"] if doc_dict["author"]["role"] else ""}}"
        />
        <label for="author_role">
            Role:
        </label>
    </div>
</div>


