<div class="col-6">
    <div class="mb-2">
        <span class="badge bg-success">
            Database Information
        </span>
    </div>

    <div class="form-floating">
        <input
                type="text"
                id="db_name"
                name="db.name"
                value="{{ doc_dict["db"]["name"] if doc_dict["db"]["name"] else ""}}"
                class="form-control-plaintext"
                disabled
        />
        <label for="db_name">Name</label>
    </div>
    <div class="form-floating">
        <textarea
                disabled
                class="form-control-plaintext"
                name="db.description"
                id="description"
        >{{ doc_dict["db"]["description"] if doc_dict["db"]["description"] else ""}}</textarea>
        <label for="description">Description</label>
    </div>
</div>