<div class="mb-2 g-3">
    <span class="badge bg-success">Files available to download</span>
</div>
{% if doc_dict["public"] %}
    {% for blob in blobs_names %}
        {% if "." in blob %}
            <a
                    href="https://storage.cloud.google.com/{{ doc_dict["bucket"]["name"] }}/{{ blob }}"
                    class="btn-link"
                    target="_blank"
            >
                {{ blob }}
            </a>
        {% endif %}
    {% endfor %}
{% else %}
    <div class="mb-2 g-3">
        <div
                class="badge bg-warning"
                disabled
        >
            Bucket is not public
        </div>
        <div>
            The chosen bucket is not available to public, its files are not accessible to read nor download
        </div>
    </div>
{% endif %}