<h4>
    <span class="badge badge-bg-royalblue">Metadata Form</span>
</h4>
<hr/>
<div class="container">
    <div class="row g-2">
        <p>
            You chose the bucket <b>{{ doc_dict["bucket"]["name"] }}</b>.<br/>
            The following is a form to set the metadata for the chosen bucket.<br/>
            It means every information you add will serve the search mechanism to make your data findable,<br/>
            along with the scholars abstract.<br/>
            Please make sure you fill all the free text parts in English.<br/>
            Allowed characters: {{ allowed_text[2:-3] }}
        </p>
    </div>
    <div class="row g-3">
        <h4>
            <span class="badge badge-bg-royalblue">
                Metadata Content
            </span>
        </h4>
    </div>
    <form action="{{ url_for('metadata_form') }}" method="post" enctype="application/x-www-form-urlencoded">
        <div class="mb-2">
            <input
                    type="radio"
                    class="btn-check"
                    name="public"
                    id="success-outlined"
                    autocomplete="off"
                    {% if not doc_dict["public"] %}
                    checked
                    {% endif %}
                    value="0"
            >
            <label class="btn btn-outline-success" for="success-outlined">Private</label>
            <input
                    type="radio"
                    class="btn-check"
                    name="public"
                    id="danger-outlined"
                    autocomplete="off"
                    {% if doc_dict["public"] %}
                    checked
                    {% endif %}
                    value="1"
            >
            <label class="btn btn-outline-danger" for="danger-outlined">Public</label>
        </div>
        <div class="row g-3">
            {% include "partials/form_bucket_info.html" %}
            {% include "partials/form_author_info.html" %}
            {% include "partials/form_organization.html" %}
        </div>
        <div class="row">
            {% include "partials/form_db_info.html" %}
        </div>
        <span>
            <button
                    type="submit"
                    name="action"
                    value="update_form"
                    class="btn btn-primary">
                Save Form
            </button>
        </span>
    </form>
    <form action="{{ url_for('upload_metadata_file') }}" method="post" enctype="multipart/form-data">
        <div class="row g-3">
            {% include "partials/form_db_metadata.html" %}
        </div>
        <span>
            <button
                    type="submit"
                    name="action"
                    value="update_form"
                    class="btn btn-primary">
                Send File
            </button>
        </span>
    </form>
</div>

<style>
    td,th {
        padding: 5px;
    }
    th {
        width: 12vw;
    }
</style>