<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ key }}</h5>
        <div class="row card-subtitle">
            <div class="form-floating mb3">
                <h6 class="form-control-plaintext" id="db_name">
                   {{ docs[key]["db"]["name"] }}
                </h6>
                <label for="db_name">Name</label>
            </div>
            <div class="row">
                <div class="col-sm-6 form-floating mb3">
                    <h6 class="form-control-plaintext" id="faculty">
                        {{ docs[key]["org"]["faculty"]}}
                    </h6>
                    <label for="faculty">Faculty</label>
                </div>
                <div class="col-sm-6 form-floating mb3">
                    <h6 class="form-control-plaintext" id="org">
                       {{docs[key]["org"]["name"] }}
                    </h6>
                    <label for="org">Organization</label>
                </div>
            </div>
        </div>
        <div class="card-text form-floating mb3">
            <span class="form-control-plaintext" id="description">
                {{ docs[key]["db"]["description"] }}
            </span>
            <label for="description">Description</label>
        </div>
        {% if docs[key]["public"] %}
            <a
                    class="badge bg-primary"
                    href="{{ base_url }}/buckets/{{ docs[key]["bucket"]["name"] }}"
                    target="_blank">
                Go to bucket info page
            </a>
        {% else %}
            <div
                    class="badge bg-warning"
                    disabled>
                Bucket is not public
            </div>
        {% endif %}
    </div>
</div>