<h4>
    <span class="badge badge-bg-royalblue">Select A Bucket</span>
</h4>
<hr/>
<p>
    Here you may find a dropdown list of buckets you have a permission to upload your research data. <br/>
    Please select the relevant one for the designated data to go <b>public</b>.
</p>
<form action="{{ url_for('buckets') }}" method="post">
    <div class="container">
        <div class="row">
            <div class="col-3">
                Select a bucket:<
            </div>
            <div class="col-8">
                <select onselect=""
                        name="bucket_name"
                        class="form-select"
                        aria-label="Default select example">
                    <option value="" selected>
                        click for buckets list
                    </option>
                    {% for bucket in g.buckets_list %}
                    <option value="{{ bucket }}">{{ bucket }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-1">
                <button
                        type="submit"
                        name="action"
                        class="btn btn-primary"
                        value="select_bucket"
                >Select</button>
            </div>
        </div>
    </div>
</form>