{% if logged_in %}
    {% set pages =  ["home", "buckets", "about", "search", "documentation"]%}
{% else %}
    {% set pages =  ["home", "about", "documentation"]%}
{% endif %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/basic.css') }}">
<!DOCTYPE html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UoH Library Storage POC</title>
</head>
<body data-bs-theme="dark">
    {% include "partials/header.html" %}
    <div class="container">
        <div class="row">
            <nav id="breadcrumb_navbar">
                <ul class="nav nav-pills">
                    {% for page in pages %}
                    <li class="nav-item {{ 'active' if active_page == page else '' }}">
                        {% if active_page == page %}
                        {{ page.capitalize() }}
                            {% else %}
                            <a class="nav-link {{ 'active' if active_page == page else '' }}"
                               aria-current="page"
                               href="/{{ page }}">{{ page.capitalize() }}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
    {% if logged_in %}
        <a id="login"
               class="btn btn-outline-light"
               href="/logout"
               role="button"
               style="text-transform:none"
               title="click to logout"
            >
            <img
                  width="14px"
                  style="margin-bottom:3px; margin-right:5px"
                  alt="Google sign-in"
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
            <span style="font-size: 14px">Hi {{ name }}</span>
        </a>
    {% else %}
        <a id="login"
           class="btn btn-outline-light"
           href="/login"
           role="button"
           style="text-transform:none"
        >
            <img
                  width="14px"
                  style="margin-bottom:3px; margin-right:5px"
                  alt="Google sign-in"
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
            <span style="font-size: 14px">Login with Google</span>
        </a>
    {% endif %}
    <br/>
    <div class="container">
        <div class="row mb-2">
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    <div class="messages">
                        <i style="font-size: 12px">System Messages:</i>
                        {% for category, message in messages %}
                        <p class="message {{ category }}" style="font-size: 10px">{{ message_timestamp }} - ({{ category }}) {{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
        <div data-bs-theme="dark" class="row">
            <div data-bs-theme="light" class="p-3 text-body bg-body rounded">
                {% block home %}{% endblock %}
                {% block buckets %}{% endblock %}
                {% block about %}{% endblock %}
                {% block search %}{% endblock %}
                {% block documentation %}{% endblock %}
            <hr/>
            </div>
        </div>
    </div>
</body>
</html>