{% extends "base.html" %}
{% set active_page = "documentation" %}
{% block documentation %}
<h4>
    <span class="badge badge-bg-royalblue">Documentation</span>
</h4>
<hr/>
<div class="row">
    <div class="col-2">
        <aside id="navbar-docs" class="bd-aside sticky-xl-top text-body-secondary align-self-start mb-3 mb-xl-5 px-2">
        <h4 id="on_this_page">On this page</h4>
            <nav class="small">
                <ul class="list-unstyled">
                    {% for page, scroll in docs_pages.items() %}
                    <li>
                        <button
                                class="btn d-inline-flex align-items-center collapse border-0"
                                data-bs-toggle="collapse"
                                aria-expanded="false"
                                data-bs-target="#{{ page }}-collapse"
                                aria-controls="{{ page }}-collapse"
                        >{{ page.capitalize().replace("_"," ") }}</button>
                        <ul class="list-unstyled ps-3 collapse" id="{{ page }}-collapse">
                          {% for s in scroll %}
                              <li>
                                  <a class="d-inline-flex align-items-center rounded text-decoration-none" href="#{{ s }}">
                                    {{ s.capitalize().replace("_", " ") }}
                                  </a>
                              </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </aside>
    </div>
    <div class="col-10">
        <div data-bs-spy="scroll"
             data-bs-offset="0"
             data-bs-target="#navbar-docs"
             data-bs-smooth-scroll="true"
             class="scrollspy-example"
             tabindex="0">
            {% for page in docs_pages %}
            {% autoescape false %}
                {{ docs_pages_md[page] }}
            {% endautoescape %}
            <br/><br/>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}