{% extends "base.html" %}
{% set active_page = "home" %}
{% block home %}
    <h4>
        <span class="badge badge-bg-royalblue">Welcome</span>
    </h4>
    <hr/>
    {% autoescape false %}
    {{ home_md }}
    {% endautoescape %}
{% endblock %}
