{% extends "base.html" %}
{% set active_page = "search" %}
{% block search %}
    <h4>
       <span class="badge badge-bg-royalblue">
            Search
       </span>
    </h4>
    <hr/>
    <div class="container">
        <div class="row g-2">
            <div class="col-sm-3">
                <p>
                    Here you may find available datasets.<br/>
                    Some are static some still growing.
                </p>
            </div>
            <div class="col-sm-9 form-floating">
                <input
                        disabled
                        type="text"
                        id="search"
                        title="SEARCH IS DISABLED ON THE CURRENT STAGE OF POC"
                        class="form-control"
                        name="search_input"
                        onkeyup=""
                />
                <label for="search">Search</label>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row g-2">
        {% if docs %}
            {% for key in docs.keys() %}
                {% if "db" in docs[key].keys() and "org" in docs[key].keys()%}
                    <div class=" col-sm-6">
                        {% include "partials/search_bucket_card.html" %}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        </div>
    </div>

{% endblock %}