#login {
    position: absolute;
    top: 10px;
    right: 15px
}
#breadcrumb_navbar {
    padding: 10px;
}
a {
    text-decoration: none;

}
a:active {
    background-color: darkgreen;
}
#header {
     padding: 10px;
}
input {
    width: 500px;
}

input:invalid:required{
    background-image: linear-gradient(to bottom, pink, lightcoral);
}
input:focus,textarea:focus{
    background-image: linear-gradient(to bottom, lightgoldenrodyellow, lightyellow);
}
#description{
        height: 150px;
}
textarea:invalid{
    background-image: linear-gradient(to bottom, pink, lightcoral);
}
.badge-bg-royalblue {
    background-color: royalblue;
}
.badge-bg-mediumvioletred {
    background-color: mediumvioletred;
}
.info{
    color: green;
}
.warning{
    color: yellow;
}
.error{
    color: red;
}
img.title-img{
    max-height: 100%;
    max-width: 100%;
}


/* Table of contents */
.bd-aside a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: .3125rem;
  color: rgba(0, 0, 0, .65);
}

.bd-aside a:hover,
.bd-aside a:focus {
  color: rgba(0, 0, 0, .85);
  background-color: rgba(121, 82, 179, .1);
}

.bd-aside .active {
  font-weight: 600;
  color: rgba(0, 0, 0, .85);
}

.bd-aside .btn {
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
}

.bd-aside .btn:hover,
.bd-aside .btn:focus {
  color: rgba(0, 0, 0, .85);
  background-color: rgba(121, 82, 179, .1);
}

.bd-aside .btn:focus {
  box-shadow: 0 0 0 1px rgba(121, 82, 179, .7);
}

.bd-aside .btn::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}
.bd-aside {
    padding-top: 1rem;
  }
.bd-aside {
    grid-area: 1 / 3;
    scroll-margin-top: 4rem;
}
#on_this_page{
    color: darkred;
}